# Database Configuration
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=***REMOVED***

# Redis Configuration
REDIS_HOST=redis_host
REDIS_PORT=redis_port
REDIS_PASSWORD=redis_password
REDIS_DB=redis_db_index

# MinIO/S3 Configuration
S3_ENDPOINT=s3_endpoint
S3_BUCKET=s3_bucket
AWS_REGION=aws_region # us-east-1
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key

# Application Configuration
QUARKUS_PROFILE=quarkus_profile # example : dev

# JWT Configuration (RSA)
JWT_EXPIRATION=86400
JWT_ISSUER=http://localhost:8080
JWT_PRIVATE_KEY_LOCATION=classpath:privateKey.pem
JWT_PUBLIC_KEY_LOCATION=classpath:publicKey.pem
JWT_AUDIENCES=ocr-api
JWT_ALGORITHM=RS256

